@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
body {
  background: none;
}

a, a:hover {
  color: #8D8125;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

*:focus {
  outline: 0 !important;
}

h1.tagline, h2.tagline {
  text-align: center;
  margin-bottom: 40px;
}

*.tagline {
  color: #606060;
}

*.tagline span:first-child {
  color: #606060;
}

.button, .button:hover {
  background: #8D8125;
}

header .topbar {
  height: 60px;
  background: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
  -webkit-transition: background-color 500ms;
  /* Safari */
  transition: background-color 500ms;
}

header .topbar .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  display: none;
}

header .topbar.back {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  -moz-opacity: 0.8;
}

body.admin-bar .topbar {
  top: 32px;
}

body.mobile header .topbar {
  display: block;
}

header .topbar .hamburger {
  position: absolute;
  top: 0;
  right: 0;
}

header .topbar .hamburge:focus {
  outline: none !important;
}

header .topbar.back .hamburger-inner, header .topbar.back .hamburger-inner:after, header .topbar.back .hamburger-inner:before {
  background-color: white;
}

header .hero {
  height: 60vh;
  background: url("../img/header-abogadisimo-v2.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

header .hero div {
  z-index: 2;
}

header .hero:after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header .hero .logo {
  position: relative;
  z-index: 3;
  max-width: 90%;
  margin: auto;
}

header .hero .tagline {
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  border-top: 2px solid white;
  padding-top: 10px;
  margin-top: 10px;
  color: white;
  display: inline-block;
}

header .hero img {
  width: 400px;
}

header .wrapper-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

header .wrapper-menu.open {
  display: block;
}

header .menu {
  background: #606060;
  display: block;
}

header .menu ul {
  display: flex;
  list-style: none;
  text-align: center;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  align-content: space-around;
}

header .menu ul li {
  height: 100%;
}

header .menu ul li a {
  color: white;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0;
  margin-bottom: 20px;
}

header .menu ul li a:hover {
  color: white;
}

body.mobile header .menu {
  background: #606060;
  width: 250px;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  color: white;
  top: 0;
  left: -250px;
  -webkit-transition: left 500ms;
  /* Safari */
  transition: left 500ms;
  z-index: 11;
  padding-top: 40px;
}

body.mobile header .menu.open {
  left: 0;
}

body.mobile header .menu ul {
  display: block;
  text-align: left;
}

body.mobile header .menu ul li {
  display: block;
  height: auto;
}

h4 a {
  color: #8D8125;
}

h4 a:hover {
  color: #8D8125;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  background: white;
}

.container.full {
  padding: 0;
}

.masonry-css {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.masonry-css-item {
  margin-bottom: 1.5rem;
  background: #EEE;
  width: 31%;
  margin-right: 2%;
}

.masonry-css-item:last-child {
  flex-grow: 1;
}

.masonry-css-item:nth-child(7n+4), .masonry-css-item:nth-child(7n+5) {
  width: 48%;
}

.masonry-css-item .info {
  padding: 20px;
}

.masonry-css-item h4 {
  color: #606060;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;
}

.masonry-css-item .description {
  color: #606060;
  line-height: 1.3em;
}

.masonry-css-item .link a {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #8D8125;
}

/*************************************
STARTS: SINGLE CONTENT
**************************************/
.single-post .content {
  margin-left: 200px;
  max-width: 700px;
  color: #606060;
}

.single-post .excerpt {
  margin: 50px auto;
  font-style: italic;
  border-bottom: 2px solid #eeeeee;
}

.single-post .hero .content {
  position: absolute;
  bottom: 40px;
  text-shadow: 0 0 20px #606060;
  margin-left: 160px;
  max-width: 740px;
}

.single-post .hero .content h1 {
  color: white;
  text-align: left;
}

.single-post .content div, .content iframe {
  width: 100% !important;
  max-width: 100%;
}

.content iframe {
  width: 110% !important;
  max-width: 110% !important;
  margin-left: -10% !important;
}

iframe[id^=twitter-widget-] {
  width: 100% !important;
}

.single-post h1 {
  color: #606060;
}

.single-post .content .excerpt {
  font-style: italic;
}

.single-post .image {
  margin-bottom: 40px;
}

.single-post .image .caption, .wp-caption-text {
  margin-left: -10%;
  font-size: 0.8em;
  font-style: italic;
}

.wp-caption-text {
  margin-left: 0;
}

.single-post .content img {
  width: 110%;
  margin-left: -10%;
  max-width: 110%;
}

.single-post .content div.meta-info {
  max-width: 350px;
  float: left;
  margin-left: -10%;
  margin-right: 20px;
}

/*************************************
ENDS: SINGLE CONTNET
**************************************/
/*************************************
STARTS: RELATED
**************************************/
.content div.related {
  padding: 20px 10px;
  margin-bottom: 20px;
  width: auto !important;
  text-align: right;
}

.content .related h3 {
  color: #606060;
}

.related h4 {
  line-height: 1.2em;
  margin-bottom: 10px;
}

.content .related h4 a {
  color: #8D8125;
}

/*************************************
ENDS: RELATED
**************************************/
/*************************************
STARTS: QUERIES
**************************************/
@media only screen and (max-width: 900px) {
  .single-post .content {
    margin-left: 0;
  }

  .single-post .content img {
    margin: 0;
  }

  .single-post .hero .content {
    margin-left: 36px;
  }

  .single-post .content div.meta-info {
    max-width: 100%;
    margin: 0;
  }

  .single-post .meta-info .related {
    border: 0;
    margin: 0;
    text-align: left;
  }

  .single-post .content img {
    width: 100%;
  }

  .single-post .content .meta-info, .single-post img, .single-post .image .caption {
    margin-left: 0;
  }

  .content iframe {
    width: 100% !important;
    max-width: 100 !important;
    margin-left: 0% !important;
  }
}
@media only screen and (max-width: 768px) {
  .masonry-css {
    display: block;
  }

  .masonry-css-item:nth-child(n), .masonry-css-item:nth-child(n) .image, .masonry-css-item:nth-child(n) .info {
    width: 100%;
  }
}
/*************************************
ENDS: QUERIES
**************************************/
/*************************************
STARTS: FOOTER
**************************************/
footer {
  background: #8D8125;
  color: white;
  text-align: center;
  padding: 20px;
}

/*************************************
ENDS: FOOTER
**************************************/

/*# sourceMappingURL=app.css.map */
